body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;

}

header nav {
  padding-right: 40px;
}

.logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

.logo img {
  margin-right: 12px;
}

.content {
  display: inline-flex;
  margin: 0 auto 78px 0;
  width: 1232px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image-container {
  display: flex;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.image-container.one {
  background-image: url(../images/img-story-main.png);
}

.image-container.two {
  background-image: url(../images/img-story-2.png);
}

.image-container.three {
  background-image: url(../images/img-story-3.png);
}

.image-container.four {
  background-image: url(../images/img-story-1.png);
}

.main-story .image-container {
  font-size: 40px;
}

.content {
  margin: 0 30px;
  padding-top: 30px;
}

.stories {
  display: flex;
}
.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
